.settings-box.hide-settings
  .toggle-settings
    i.fas.fa-cog.fa-lg.fa-fw
  .settings-b-content
    .option-box.color-options
      h6.option-title Color Options
      - var themes = ["green-theme", "blue-theme", "red-theme", "orange-theme"]
      ul.list-unstyled
        each theme in themes
          li(data-theme=theme)
    .option-box
      h6.option-title Font Options
    .option-box
      h6.option-title Sidebar Options