.settings-box.hide-settings
  .toggle-settings
    i.fas.fa-cog.fa-lg.fa-fw
  .settings-b-content
    .option-box
      h5 Color Options
    .option-box
      h5 Font Options
    .option-box
      h5 Sidebar Options